* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.section__title {
  color: #000;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 48px;
  line-height: 48px; }
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-size: cover;
    margin: auto; }

@media only screen and (max-width: 500px) {
  .section__title {
    font-size: 36px; } }

.section {
  width: 1020px;
  margin: auto; }
  .section__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff; }
  .section:not(:first-of-type) {
    margin-top: 152px; }

@media only screen and (max-width: 1200px) {
  .section {
    width: 90%;
    margin: 0 auto; } }

@media only screen and (max-width: 768px) {
  .section:not(:first-of-type) {
    margin-top: 64px; } }

.section__title {
  color: #000;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 48px;
  line-height: 48px; }
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-size: cover;
    margin: auto; }

@media only screen and (max-width: 500px) {
  .section__title {
    font-size: 36px; } }

.form {
  width: 413px; }
  .form__input {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 8px;
    background: #f7f8ff;
    padding: 11px 16px; }
    .form__input::-webkit-input-placeholder {
      color: #b9c1ce;
      font-size: 14px; }
    .form__input::-moz-placeholder {
      color: #b9c1ce;
      font-size: 14px; }
    .form__input:-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px; }
    .form__input::-ms-input-placeholder {
      color: #b9c1ce;
      font-size: 14px; }
    .form__input::placeholder {
      color: #b9c1ce;
      font-size: 14px; }
    .form__input:not(:first-of-type) {
      margin-top: 16px; }
  .form__textarea {
    margin-top: 16px; }
  .form__button {
    width: 100%;
    margin-top: 32px;
    border: none;
    background-color: #0075ff;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    border-radius: 8px;
    padding: 14px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    cursor: pointer; }
    .form__button:hover {
      background-color: #0067df; }

@media only screen and (max-width: 1200px) {
  .form {
    margin-top: 32px;
    width: 100%; } }

.logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 115px;
  height: 76px; }

.main {
  width: 100%;
  padding-top: 104px;
  padding-bottom: 88px;
  background: #fff; }

@media only screen and (max-width: 1200px) {
  .main {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .main {
    padding-top: 64px; } }

.container {
  margin-top: 93px; }

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 53px; } }

.section__title {
  color: #000;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 48px;
  line-height: 48px; }
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-size: cover;
    margin: auto; }

@media only screen and (max-width: 500px) {
  .section__title {
    font-size: 36px; } }

.header {
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 24px;
  color: #fff; }
  .header__wrapper {
    width: 1020px;
    margin: auto;
    position: relative;
    height: 100%; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .header__link {
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff; }
    .header__link:hover {
      color: #9fadc2;
      border-color: #9fadc2; }
  .header__number {
    color: #fff; }
  .header__nav {
    position: absolute;
    bottom: 37px;
    left: 0;
    width: 100%; }
  .header__title {
    position: absolute;
    bottom: 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize; }
  .header__line {
    width: 35px;
    border-bottom: 2px solid #fff;
    margin-bottom: 16px; }
  .header__phone {
    display: none; }

@media only screen and (max-width: 1200px) {
  .header__top {
    width: 90%;
    margin: auto; }
  .header__wrapper {
    width: 100%; }
  .header__number, .header__link {
    display: none; }
  .header__phone {
    display: block; }
  .header__title {
    font-size: 46px;
    margin-left: 5%; } }

.section__title {
  color: #000;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 48px;
  line-height: 48px; }
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-size: cover;
    margin: auto; }

@media only screen and (max-width: 500px) {
  .section__title {
    font-size: 36px; } }

.menu {
  display: none; }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 20px;
    right: 5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3; }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s; }
  .menu__btn > span::before {
    content: "";
    top: -8px; }
  .menu__btn > span::after {
    content: "";
    top: 8px; }
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 24px;
    list-style: none;
    background-color: #0075ff;
    -webkit-box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    z-index: 2; }
  .menu__item {
    display: block;
    padding: 12px 0;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s; }
  .menu__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 48px; }
  .menu__link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px; }
    .menu__link:nth-of-type(2) {
      position: relative;
      margin-top: 16px; }
      .menu__link:nth-of-type(2):after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 113px;
        border: 1px solid #fff; }

#menu__toggle {
  opacity: 0; }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 0; }

@media only screen and (max-width: 1200px) {
  .menu {
    display: block; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__link {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold; }
  .nav__link:hover {
    color: #9fadc2; }

.nav__item {
  padding: 7px 20px; }
  .nav__item--active {
    background-color: rgba(250, 250, 250, 0.1);
    border-radius: 10px;
    color: #000;
    pointer-events: none; }

@media only screen and (max-width: 1200px) {
  .nav {
    display: none; } }

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info__content {
  width: 500px; }

.info__link {
  color: #0075ff; }
  .info__link:hover {
    color: #005ecc; }

.info__header {
  width: 500px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px; }

.info__text {
  line-height: 27px;
  margin-bottom: 35px; }
  .info__text:first-of-type {
    margin-top: 16px; }

@media only screen and (max-width: 1200px) {
  .info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .info__content {
    width: 100%;
    margin-top: 48px; } }

@media only screen and (max-width: 768px) {
  .info__header {
    width: 100%; } }

@media only screen and (max-width: 500px) {
  .info__header {
    font-size: 36px; } }

.section__title {
  color: #000;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 48px;
  line-height: 48px; }
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-size: cover;
    margin: auto; }

@media only screen and (max-width: 500px) {
  .section__title {
    font-size: 36px; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 256px; }
    .gallery__container:first-of-type {
      margin-top: 61px; }
  .gallery__image {
    border-radius: 8px;
    height: 100%; }
    .gallery__image:nth-of-type(even) {
      margin-left: 20px; }
  .gallery__container:first-of-type .gallery__image:first-of-type {
    background-image: url("../images/photos/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .gallery__container:first-of-type .gallery__image:last-of-type {
    background-image: url("../images/photos/2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .gallery__container:nth-of-type(2) .gallery__image:first-of-type {
    background-image: url("../images/photos/3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .gallery__container:nth-of-type(2) .gallery__image:last-of-type {
    background-image: url("../images/photos/4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .gallery__container:nth-of-type(3) .gallery__image:first-of-type {
    background-image: url("../images/photos/5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .gallery__container:nth-of-type(3) .gallery__image:last-of-type {
    background-image: url("../images/photos/6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .gallery__text {
    margin: 24px 0 40px; }
  .gallery__link {
    color: #0075ff;
    font-weight: bold; }
  .gallery__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #0075ff;
    border-radius: 8px;
    padding: 21px 66px;
    line-height: 11px;
    color: #0075ff;
    font-weight: bold; }

@media only screen and (max-width: 500px) {
  .gallery__container {
    height: 131px; }
  .gallery__container:first-of-type .gallery__image:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .gallery__container:nth-of-type(3) .gallery__image:last-of-type {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .gallery__button {
    width: 100%; } }

.consultation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 93px; }

.consultation__left {
  width: 412px; }

.consultation__text {
  margin-top: 16px; }

@media only screen and (max-width: 1200px) {
  .consultation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .consultation__left {
    width: 100%; } }

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 93px; }

.testimonials__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px; }

.testimonials__image {
  width: 153px;
  height: 153px;
  border-radius: 50%; }

.testimonials__name {
  color: #0075ff;
  font-weight: bold;
  font-size: 24px; }

.testimonials__position {
  margin: 4px 0 16px;
  color: #9fadc2; }

.testimonials__text {
  margin-top: 4px;
  text-align: center; }

@media only screen and (max-width: 1200px) {
  .testimonials__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media only screen and (max-width: 799px) {
  .testimonials__box:nth-of-type(3) {
    margin-top: 30px; } }

@media only screen and (max-width: 580px) {
  .testimonials__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 53px; }
  .testimonials__box:not(:first-of-type) {
    margin-top: 48px; } }

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 93px; }

.contacts__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 413px; }

.contacts__group--mt {
  margin-top: 24px; }

.contacts__group--mobile {
  width: 130px; }

.contacts__title {
  font-size: 14px;
  font-weight: normal;
  color: #9fadc2; }

.contacts__text {
  margin-top: 8px; }

@media only screen and (max-width: 1200px) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media only screen and (max-width: 500px) {
  .contacts__left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__group--mobile {
    width: auto;
    margin-top: 24px; } }

.footer {
  background-image: url("../images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 359px;
  z-index: -1; }
  .footer__logo {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 57.5px); }

/*# sourceMappingURL=main.css.map */
